body{
    margin:0;
    padding: 0;
    font-size: 1em;
    font-family: "Neutrif Pro";
    background-color: #f2f0e4!important;
}
.card-style{
    
}

.style-card{
    background: transparent!important;
    box-shadow: 10px 10px 0 rgba(14, 14, 14, 0.40);
    width: 300px;
    height: auto;
}
.img-style{
    width: 150px!important;
    height: 150px;
}
.list-style{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-style: italic;
    padding-left: 0px;
}
.details-style{
    height: 100px;
    overflow: auto;
}
.btn:hover{
    transform: scale(1.1);
}
li:hover{
    transform: scale(1.1);
}
.yr-style{
    font-style: italic;
    font-size: 15px;
    margin-bottom: 0px;
}
.rocket-details{
    font-style: italic;
    font-size: 15px;
}
.stage-style{
    border: 1px solid black;
    padding: 10px;
    border-radius:10px ;
    overflow-y: scroll;
    height: 400px;
}
p{
    margin-bottom: 0px!important;
}
.page-link{
    list-style-type: none!important;
}
.pagi-style{
    display: inline-block;
    justify-content: center!important;
    
}
